html{
    min-height: 100%;
}
@font-face { font-family: HelvetiHand; src: url('/assets/fonts/HelvetiHand.ttf'); }
@font-face { font-family: NotFont; src: url('/assets/fonts/NotFont.ttf'); }
@font-face { font-family: NotFontBold; src: url('/assets/fonts/NotFontBold.ttf'); }
body {
    background: rgb(255,246,230);
    background: linear-gradient(83deg, #fff6e6 0%, rgba(255,247,235,1) 25%, rgba(255,251,245,1) 50%, rgba(255,247,235,1) 75%, rgba(255,246,230,1) 100%);
    font-family: NotFontBold;
    text-align: center;
}
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: rgb(255,246,230);
    background: linear-gradient(83deg, rgba(255,246,230,1) 0%, rgba(255,247,235,1) 25%, rgba(255,251,245,1) 50%, rgba(255,247,235,1) 75%, rgba(255,246,230,1) 100%);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}
img {
    -webkit-backface-visibility: hidden; 
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}